<div class="row deck-row">
  <div class="col-md-6">
    <% if !deck.name.empty? %>
      <h3><%= link_to deck.name, deck %></h3>
    <% else %>
      <h3><%= link_to "#{deck.user.username}'s deck", deck %></h3>
    <% end %>
    <div class="row">
      <div class="col-sm-12 m-b-10">
        <% unless current_user?(deck.user)%>
          by <%= link_to deck.user.username, deck.user %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-5">
    <div class="row">
      <div class="col-md-12 m-b-10">
        <span class="bold">Agenda:</span>
        <% deck.cards.where(card_type: "Agenda").each do |c| %>
          <%= c.name %>
        <% end %>
      </div>
      <div class="col-md-12 m-b-10">
        <span class="bold">Haven:</span>
        <% deck.cards.where(card_type: "Haven").each do |c| %>
          <%= c.name %>
        <% end %>
      </div>
      <div class="col-md-12">
        <span class="bold">Leader:</span>
        <% deck.cards.where(id: deck.leader).each do |c| %>
          <%= c.name %>
        <% end %>
      </div>
    </div>
  </div>
</div>
