<% provide(:title, 'User') %>
<div class="container">
  <div class="row p-20">
    <div class="col-md-4 white">
      <h1>Welcome back, <%= @user.username %></h1>
    </div>
    <div class="col-md-3 name-form">
      <%= form_with model: @deck do |f| %>
        <%= f.text_field :name, placeholder: "Name new deck" %>
        <%= hidden_field_tag :id, @user.id %>
        <%= f. submit "New Deck", class: "btn m-10" %>
      <% end %>
    </div>
  </div>
  <% @decks.each do |deck| %>
    <%= link_to deck do %>
      <%= render 'deckRow', deck: deck %>
    <% end %>
  <% end %>

</div>
