<div class="card-list">
  <div class="row text-center list-header">
    <div class="col-md-3 col-sm-2 col-xs-4 text-left">
      Name
    </div>
    <div class="col-md-1 col-sm-1 col-xs-2 ">
      Clan
    </div>
    <div class="col-md-1 col-sm-1 col-xs-1">
      <%= image_tag 'blood_potency' %>
    </div>
    <div class="col-md-2 col-sm-3 hidden-xs">
      <%= image_tag 'Physical' %>/
      <%= image_tag 'Social' %>/
      <%= image_tag 'Mental' %>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-3">
      Attack/React
    </div>
    <div class="col-md-3 col-sm-2 hidden-xs">
      <%= image_tag 'Damage' %>/<%= image_tag 'Shield' %>
    </div>
  </div>
  <div class="results">
    <% @cards.each do |card| %>
      <%= render 'decks/card', id: @deck.id, card:card %>
    <% end %>
  </div>

</div>
