<h3>Seach bar</h3>
<%= f.label :name, "Card Name:" %>
<%= f.text_field :name %>

<%= f.label :faction, "Clan" %>
<%= f.select :faction, [["Any", nil], "Brujah", "Toreador", "Malkavian", "Ventrue", "Thin Blood", "Tremere"] %>

<%= f.label :card_type, "Card Type" %>
<%= f.select :card_type, [["All", nil], "Character", "Action", "Attack", ["Reaction", "Defense"], "Aganda", "Haven", "Ongoing", "Scheme", "Conspiracy"] %>

<%= f.label :blood_requirement, "Blood Requirement" %>
<%= f.select :blood_requirement, [["-", nil], 0, 1, 2, 3, 4, 5, 6] %>

<%= f.label :blood, "Blood" %>
<%= f.select :blood, [["-", nil], 0, 1, 2, 3, 4, 5, 6] %>

<%= f.label :physical, "Phyical" %>
<%= f.select :physical, [["-", nil], 0, 1, 2, 3] %>

<%= f.label :social, "Social" %>
<%= f.select :social, [["-", nil], 0, 1, 2, 3] %>

<%= f.label :mental, "Mental" %>
<%= f.select :mental, [["-", nil], 0, 1, 2, 3] %>

<%= f.label :disciplines, "Discipline" %>
<%= f.select :disciplines, [["-", nil], "Animalism", "Auspex", "Celerity", "Dominate", "Fortitude", "Obfuscate", "Potence", "Presence", "Protean", "Blood Sorcery", "Thin-blood Alchemy"] %>

<%= f.label :text, "Card Text" %>
<%= f.text_field :text %>

<%= f.label :product, "Set" %>
<%= f.select :product, [["All", nil], "Core Set", "Blood & Alchemy", "Promo"] %>

<%= f.submit "Search" %>
