<div class="row">
  <div class="col-md-2">
    <%= link_to card.name, card %>
  </div>
  <div class="col-md-2">
    <%= card.faction %>
  </div>
  <div class="col-md-2">
    <%= card.card_type %>
  </div>
  <div class="col-md-2">
    <%= card.blood %>
  </div>
  <div class="col-md-2">
    <%= form_with(model: @deck.decklists.build, local: false) do |f| %>
      <%= hidden_field_tag :c_id, card.id %>
      <%= hidden_field_tag :d_id, @deck.id %>
      <%= f.submit "Add", class: "btn btn-primary" %>
    <% end %>
  </div>
  <%= form_with(model: @deck, url: edit_deck_path, local: false, method: :get) do |f| %>
    <%= hidden_field_tag :c_id, card.id %>
    <%= f.submit "-1", class: "btn btn-primary" %>
  <% end %>
</div>
