<div class="row text-center list-header">

  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 text-left">
    Name
  </div>

  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 ">
    Clan
  </div>

  <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3">
    <%= image_tag 'blood_potency' %>
  </div>

  <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
    <%= image_tag 'Physical' %>/
    <%= image_tag 'Social' %>/
    <%= image_tag 'Mental' %>
  </div>

  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
    Att/React
  </div>

  <div class="col-lg-1 col-md-1 col-sm-2 hidden-xs">
    <%= image_tag 'Damage' %>/<%= image_tag 'Shield' %>
  </div>

  <div class="col-lg-2 col-md-2 hidden-sm hidden-xs ">
    Set
  </div>

</div>
