<div class="row card-row text-center">

  <div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">
    <div class="row buttons">
      <%= render 'decks/button', card: card, id: id %>
    </div>
  </div>

  <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 text-left">
    <%= link_to card.name, card, remote: true%>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
    <% if card.faction && card.faction != "Neutral" %>
      <%= image_tag card.faction %>
    <% else %>
      -
    <% end %>
  </div>

  <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs">
    <%= card.blood %>
    <%= card.blood_requirement %>
  </div>
  <div class="col-lg-2 hidden-md hidden-sm hidden-xs">
    <% if card.card_type === "Character" %>
      <%= card.physical %>/
      <%= card.social %>/
      <%= card.mental %>
    <% else %>
      -
    <% end %>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
    <% if card.card_type.include? "Attack" %>
      <%= render 'shared/renderIcon', types: card.attack_type.split(",") %>
    <% end %>

    <% if card.card_type.include? "Defense" %>
      <%= render 'shared/renderIcon', types: card.reaction_type.split(",") %>
    <% end %>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
    <%= card.damage %>
    <%= card.shield %>
  </div>

  <%# factor out div? only needed on first load %>
  <div class="qty-in-deck hidden">
    <%= count %>
  </div>
</div>
