<div class="centered">
  <!-- split deck list by card type -->
  <div class="row centered">

    <div class="col-md-6 col-sm-6 col-xs-6">
      <%= render 'decks/category', cards: @agendas, type: "agenda", title: "Agenda" %>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-6">
      <%= render 'decks/category', cards: @havens, type: "haven", title: "Haven" %>
    </div>

  </div>

  <div class="row centered">

    <div class="col-md-12 col-sm-12 col-xs-12">
      <%= render 'decks/characters',
          cards: @characters,  #send character cards
          type: "character",   #dynamic div id
          title: "Characters", #row header
          leader: @leader,     #single out leader card
          deck: @deck          #send deck info
      %>
    </div>

  </div>

  <div class="row centered">

    <h3>Library (<span id="library-count"><%= @library %></span>)</h3>

    <div class="col-md-6 col-sm-6 col-xs-12 centered">
      <%= render 'category', cards: @attacks, type: "attack", title: "Attacks/Reactions" %>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12 centered">
      <%= render 'category', cards: @actions, type: "action", title: "Action" %>
    </div>

  </div>

</div>
