<div id="c_<%= card.id %>" class="row">
  <div class="count hidden">
    <%= card_count %>
  </div>
  <div class="col-md-5 col-sm-2 col-xs-5 white-link">
    <%= link_to card.name, card, remote: true %>
    <% if leader %>
      - Leader
    <% end %>
  </div>
  <% if current_user?(@deck.user) %>
    <% unless leader %>
      <div class="col-md-1 col-xs-2">
        <%= form_with model: deck do |f| %>
          <%= f.hidden_field :leader, value: card.id %>
          <%= f.submit "^", class:"btn-round" %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
