<div id="c_<%= card.id %>" class="row">
  <div class="col-md-1 col-xs-1 count">
    <%= card_count %>
  </div>
  <div class="col-md-6 col-xs-10 padding-0 white-link">
    <% if card.card_type === "Character" %>
    <%= link_to card.name, card, target: :blank %>
      (<%= card.faction %>)
    <% else %>
      <%= link_to card.name, card, target: :blank %>
    <% end %>
  </div>
</div>
