<div id="c_<%= card.id %>" class="row">
  <div class="col-md-1 col-xs-1 count">
    <%= card_count %>
  </div>
  <div class="col-md-6 col-xs-10 name ">
    <% if card.card_type === "Character" %>
      <%= card.name %> (<%= card.faction %>)
    <% else %>
      <%= card.name %>
    <% end %>
  </div>
</div>
