<!-- card in decklist, not search area -->
<div id="c_<%= card.id %>" class="row">
  <% if card.card_type === "Agenda" || card.card_type === "Haven" %>
    <div class="count hidden">
      <%= card_count %>
    </div>
    <div class="col-xs-12 white-link">
      <%= link_to card.name, card, remote: true %>
    </div>
  <% else %>
    <div class="col-md-1 col-xs-1 count">
      <%= card_count %>
    </div>
    <div class="col-md-6 col-xs-10 padding-0 white-link">
      <%= link_to card.name, card, remote: true %>
    </div>
  <% end %>
</div>
