<% provide(:title, 'Decklist') %>

<div class="row">
  <div class="col-md-6">
    <h1><%= @deck.name %></h1>
  </div>
  <div class="col-md-6">
    <%= form_tag(deck_path(@deck), method: :patch) do %>
      <%= text_field_tag(:name, "Name your deck") %>
      <%= submit_tag ("Save deck name") %>
    <% end %>

    <%= link_to "Delete deck", @deck, method: :delete,
                                           data: { confirm: "Delete deck?" } %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= render 'decks/agendas' %>
    <%= render 'decks/havens' %>
    <%= render 'decks/characters' %>
  </div>
  <div class="col-md-6">
    <%= render 'decks/library' %>
  </div>
</div>

<div class="search-bar">
  <%= form_with url: 'decks/search', method: :get, local: false do |f| %>
  <%= hidden_field_tag :d_id, @deck.id %>
  <%= render 'shared/search', :f => f%>
  <% end %>
</div>

<div class="">
  <%= render 'shared/card_list' %>
</div>
