<% provide(:title, @deck.name) %>
<%# Set page as one row of two columns %>
<div class="container">
  <div class="row deck-main">
    <div class="card-pic">
      <!-- Display card images -->
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
       <!-- placeholder for fixed content -->
    </div>
    <!-- Fix decklist to left side of screen  -->
    <div class="col-md-4 col-sm-12 col-xs-12 left scrollable white">
      <div class="hidden-lg hidden-md">
        <%= image_tag 'vtmBannerTrans', class: "dynamic-img" %>
      </div>
      <div class="inner-content">
        <div class="">
          <% if !@deck.name.empty? %>
            <h1><%= @deck.name %></h1>
          <% else %>
            <h1><%= @deck.user.username %>'s deck</h1>
          <% end %>
        </div>

        <% if current_user?(@deck.user) %>
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home">Decklist</a></li>
            <li><a data-toggle="tab" href="#menu1">Notes</a></li>
            <li><a data-toggle="tab" href="#menu2">Edit info</a></li>
          </ul>
        <% end %>

        <div class="tab-content">

          <div id="home" class="tab-pane fade in active">
            <% if current_user?(@deck.user) %>
              <div class="white small m-10">
                Changes to deck saved automatically
              </div>
              <div class="white small m-10">
                <button class="btn-round">^</button> - Make character Leader
              </div>
            <% end %>

            <%= render 'categories' %>

          </div>

          <div id="menu1" class="tab-pane fade">
            <% if current_user?(@deck.user) %>
              <div class="inner-form" %>
                <h4 class="white">Description</h4>
                  <%= form_with model: @deck do |f| %>
                    <%= f.text_area :notes, placeholder: @notes %>
                    <%= f. submit "Save Notes", class:"m-10 lg-btn" %>
                  <% end %>
              </div>
            <% end %>
          </div>

          <div id="menu2" class="tab-pane fade">
            <%= render 'deckInfo' %>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-8 col-xs-12 centered right">
      <div class="hidden-sm hidden-xs">
        <%= image_tag 'vtmBannerTrans', class: "dynamic-img" %>
      </div>

      <% if current_user?(@deck.user) %>

      <!-- Card search on right side -->
      <div class="search-bar split-form">
        <!-- render search form with appropriate url path -->
        <%= form_with url: 'decks/search', method: :get, id: "search-form", local: false do |f| %>
          <%= hidden_field_tag :d_id, @deck.id %>
          <%= render 'shared/search', :f => f %>
        <% end %>
      </div>
      <!-- Card list on right side -->
      <div class="centered list">
        <div class="card-list">
          <%= render 'listHeader' %>
          <div class="results">
            <% @cards.each do |card| %>
              <%= render 'card', id: @deck.id, card:card, count: @deck.cards.where(id: card.id).length %>
            <% end %>
          </div>
        </div>
      </div>

      <% else %>

      <div class="description-area">
        <h1>Notes from <%= @deck.user.username %></h1>
          <%= simple_format(@notes) %>
      </div>

      <% end %>
    </div>
  </div>
</div>
