<% provide(:title, 'Deck') %>
<h1><%= @deck.name %></h1>

<%= form_tag(deck_path(@deck), method: :patch) do %>
  <%= text_field_tag(:name, "Name your deck") %>
  <%= submit_tag ("Save deck name") %>
<% end %>

<%= link_to "delete", @deck, method: :delete,
                                       data: { confirm: "You sure?" } %>

<%= render 'decks/agendas' %>

<%= render 'decks/havens' %>

<%= render 'decks/characters' %>

<%= render 'decks/library' %>

<%= form_with url: 'decks/search', method: :get, local: false do |f| %>
<%= hidden_field_tag :d_id, @deck.id %>
<%= render 'shared/search', :f => f%>
<% end %>

<%= render 'shared/card_list' %>
