<% provide(:title, 'Decklist') %>
<%# Set page as one row of two columns %>
<div class="container">
  <div class="row deck-main">

    <div class="col-md-4 col-sm-12 col-xs-12">
      <%# placeholder %>
    </div>

    <%# Fix decklist to left side of screen %>
    <div class="col-md-4 col-sm-12 col-xs-12 right white">
      <div class="hidden-lg hidden-md">
        <%= image_tag 'vtmBannerTrans', class: "dynamic-img" %>
      </div>
      
      <div class="inner-content">
        <%= render 'deckInfo' %>

        <%= render 'categories' %>
      </div>
    </div>

    <% if current_user?(@deck.user) %>
      <div class="col-md-8 col-xs-12 centered">
        <div class="hidden-sm hidden-xs">
          <%= image_tag 'vtmBannerTrans', class: "dynamic-img" %>
        </div>
        <%# Card search on right side %>
        <div class="search-bar split-form">
          <%# render search form with appropriate url path %>
          <%= form_with url: 'decks/search', method: :get, id: "search-form", local: false do |f| %>
            <%= hidden_field_tag :d_id, @deck.id %>

            <%= render 'shared/search', :f => f%>

          <% end %>
        </div>

        <%# Card list on right side %>
        <div class="centered list">
          <div class="card-list">

            <%= render 'listHeader' %>

            <div class="results">
              <% @cards.each do |card| %>
                <%= render 'card', id: @deck.id, card:card, count: @deck.cards.where(id: card.id).length %>
              <% end %>
            </div>

          </div>
        </div>
      </div>
    <% else %>
    <div class="col-lg-8 col-md-7 col-xs-12 centered">
      <div class="hidden-xs">
        <%= image_tag 'vtmBannerTrans', class: "dynamic-img" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
